<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Admin page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 th:text="#{admin.page.title}"></h1>
    <a th:href="@{/admin/h2-console}" target="_blank" class="btn btn-info" role="button">
        <i class="fa fa-database fa-pull-left"></i><span th:text="#{admin.button.h2.text}"></span>
    </a>
</div>
</body>
</html>