<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h2 th:text="#{product.form.page.title}"></h2>
        <div>
            <form id="productForm" class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           th:text="#{productname}"
                           for="inputProductName">
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               id="inputProductName"
                               class="form-control"
                               th:field="*{productName}"
                               th:classappend="${not #lists.isEmpty(#fields.errors('productName'))} ? 'is-invalid'"/>
                        <div class="invalid-feedback">
                            <p th:each="error: ${#fields.errors('productName')}" th:text="${error}"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           th:text="#{description}"
                           for="inputDescription">
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               id="inputDescription"
                               class="form-control"
                               th:field="*{description}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           th:text="#{price}"
                           for="inputPrice">
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                           id="inputPrice"
                           class="form-control"
                           th:field="*{price}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           th:text="#{imageurl}"
                           for="inputImageUrl">
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               id="inputImageUrl"
                               class="form-control"
                               th:field="*{imageUrl}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        <span th:text="#{submit_save}"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>