<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h2 th:text="#{product.view.page.title}"></h2>
        <div>
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold" th:text="#{productname}"></label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" th:value="${product.productName}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold" th:text="#{description}"></label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" th:value="${product.description}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold" th:text="#{price}"></label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" th:value="${product.price}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold" th:text="#{imageurl}"></label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" th:value="${product.imageUrl}">
                    </div>
                </div>
            </form>
            <div class="row">
                <a th:href="@{/products}" class="btn btn-primary" role="button">
                    <i class="fa fa-arrow-left fa-pull-left"></i><span th:text="#{product_back_to_list_btn}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>