<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!----<a href="/" class="navbar-brand">Brandname</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="fa fa-home"></i>
                            <span th:text="#{menu.home}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">
                            <i class="fa fa-gift"></i>
                            <span th:text="#{menu.products}"></span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">
                            <i class="fa fa-key"></i>
                            <span th:text="#{menu.login}"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user"></i>
                            <span sec:authentication="name"></span>
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li>
                                <a class="nav-link" th:href="@{/user}">
                                    <i class="fa fa-key"></i>
                                    <span th:text="#{menu.user}"></span>
                                </a>
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a class="nav-link" th:href="@{/admin}">
                                    <i class="fa fa-cog"></i>
                                    <span th:text="#{menu.admin}"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" th:href="@{/logout}">
                                    <i class="fa fa-sign-out-alt"></i>
                                    <span th:text="#{menu.logout}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>