footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    background-color: #ccc;
    width: 100%
}

.navbar-icon-top {
    margin-bottom: 10px
}

.table-hover>tbody>tr:hover>td {
    background-color: orange;
    color: white;
    cursor: pointer
}

.table-hover>tbody>tr:hover>th {
    background-color: black;
    color: white;
    cursor: pointer
}

td.min {
    width: 1%;
    white-space: nowrap;
}